In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = 'latin_1')

In [7]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
new_df = df[['Y2017','Area']]

In [11]:
new_df.groupby(by = 'Area').describe()

                              Y2017                                         \
                              count         mean          std     min  25%
Area
Algeria                      1279.0   254.608499  1547.394129   -81.0  0.0
Angola                       1407.0   162.871052  1095.097216  -250.0  0.0
Benin                        1253.0    99.577989   551.559347  -125.0  0.0
Botswana                     1368.0    16.155921   112.238405   -38.0  0.0
Burkina Faso                 1383.0    73.647918   602.015735  -281.0  0.0
Cabo Verde                   1193.0    12.280587   106.522420    -7.0  0.0
Cameroon                     1441.0   161.020423   891.706561  -147.0  0.0
Central African Republic     1262.0    23.721870   167.023884    -1.0  0.0
Chad                         1281.0    55.889680   462.112318   -37.0  0.0
Comoros                        45.0     1.329778     3.578664     0.0  0.0
Congo                        1395.0    29.520918   194.918056    -4.0  0.0
Côte d'Ivoire                1454.0   154.469746   966.292926  -244.0  0.0
Djibouti                     1061.0    21.423101   140.152273    -2.0  0.0
Egypt                        1458.0   594.224911  3560.771316 -1582.0  0.0
Eswatini                     1251.0    43.439912   393.094731  -100.0  0.0
Ethiopia                     1428.0   314.204314  3122.142176  -792.0  0.0
Ethiopia PDR                   39.0     0.000000     0.000000     0.0  0.0
Gabon                        1206.0    23.200365   131.547012   -37.0  0.0
Gambia                       1116.0    20.747473   148.609070    -2.0  0.0
Ghana                        1333.0   253.262611  1714.281860  -121.0  0.0
Guinea                       1383.0    70.960860   440.503711  -108.0  0.0
Guinea-Bissau                1076.0    17.753504   121.893742    -3.0  0.0
Kenya                        1548.0   170.969419  1408.584749  -186.0  0.0
Lesotho                      1110.0    19.160324   138.706288    -4.0  0.0
Liberia                      1135.0    25.852159   182.196869   -19.0  0.0
Madagascar                   1425.0    92.068582   788.970175  -324.0  0.0
Malawi                       1411.0   128.347775   771.028931   -50.0  0.0
Mali                         1243.0   120.618126   713.576258  -600.0  0.0
Mauritania                   1108.0   141.394819  2017.228641    -1.0  0.0
Mauritius                    1340.0    38.145396   287.587514   -25.0  0.0
Morocco                      1369.0   283.780394  1904.383394  -229.0  0.0
Mozambique                   1406.0   114.799417   957.728213 -1200.0  0.0
Namibia                      1269.0    23.542072   132.524660   -35.0  0.0
Niger                        1365.0    92.826066   708.889521  -682.0  0.0
Nigeria                      1457.0  1018.028984  7642.098415  -694.0  0.0
Rwanda                       1397.0    52.729914   397.987230  -631.0  0.0
Sao Tome and Principe        1122.0    11.285766   105.952584     0.0  0.0
Senegal                      1452.0    65.896109   480.576621   -68.0  0.0
Seychelles                     68.0     6.505000    30.566295     0.0  0.0
Sierra Leone                 1191.0    46.441083   304.560553  -180.0  0.0
South Africa                 1395.0   371.032645  2194.696940  -144.0  0.0
Sudan                        1279.0   187.593370  1328.996288  -819.0  0.0
Sudan (former)                 53.0     0.000000     0.000000     0.0  0.0
Togo                         1234.0    40.390502   276.042965   -32.0  0.0
Tunisia                      1314.0    94.495586   480.281423  -186.0  0.0
Uganda                       1435.0   149.094341  1203.591571  -180.0  0.0
United Republic of Tanzania  1409.0   228.968666  1652.615666  -865.0  0.0
Zambia                       1425.0    72.437733   571.180971   -42.0  0.0
Zimbabwe                     1365.0    55.618564   464.036613  -521.0  0.0


                               50%      75%        max
Area
Algeria                      1.000  28.0000   41389.00
Angola                       0.040  14.0000   29817.00
Benin                        0.860  13.0000   11175.00
Botswana                     0.000   2.1600    2341.00
Burkina Faso                 0.000   8.0000   19193.00
Cabo Verde                   0.010   3.0000    2530.00
Cameroon                     0.370  21.0000   24566.00
Central African Republic     0.000   4.6800    4596.00
Chad                         0.000   6.0000   15017.00
Comoros                      0.020   0.8000      16.65
Congo                        0.000   3.0000    5111.00
Côte d'Ivoire                0.330  15.0000   24437.00
Djibouti                     0.020   2.1700    2664.00
Egypt                        1.225  47.0000   96443.00
Eswatini                     0.070   3.4750    5553.00
Ethiopia                     0.130  18.1075  106400.00
Ethiopia PDR                 0.000   0.0000       0.00
Gabon                        0.010   5.0000    2640.00
Gambia                       0.000   3.0000    2544.00
Ghana                        1.000  29.0000   29121.00
Guinea                       0.000   8.0000   12068.00
Guinea-Bissau                0.085   4.3325    2233.00
Kenya                        0.610  17.0000   50221.00
Lesotho                      0.030   3.1725    2475.00
Liberia                      0.020   4.0000    4702.00
Madagascar                   0.030   7.0000   25571.00
Malawi                       0.000   8.0000   17670.00
Mali                         1.000  21.5000   18512.00
Mauritania                   0.040   5.5875   51864.00
Mauritius                    0.080   3.6925    3713.00
Morocco                      2.000  34.0000   38348.00
Mozambique                   0.300  12.8625   28649.00
Namibia                      0.330   5.7000    2465.00
Niger                        0.000   4.0000   21602.00
Nigeria                      0.680  61.0000  190873.00
Rwanda                       0.000   5.0000   11981.00
Sao Tome and Principe        0.000   1.0000    2407.00
Senegal                      0.100   8.8875   15419.00
Seychelles                   0.035   0.4475     204.02
Sierra Leone                 0.120   6.0000    7488.00
South Africa                 3.000  55.5000   57010.00
Sudan                        0.100  19.3000   40813.00
Sudan (former)               0.000   0.0000       0.00
Togo                         0.220  10.0000    7698.00
Tunisia                      1.765  19.0000   11433.00
Uganda                       0.020  14.0000   41167.00
United Republic of Tanzania  1.000  27.0000   54660.00
Zambia                       0.000   6.0000   16854.00
Zimbabwe                     0.140   8.0000   14237.00

In [12]:
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [13]:
df['Area'].nunique()

49

In [15]:
df.shape

(60943, 12)

In [58]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [56]:
# sns.countplot(df['Item'])

In [57]:
# df['Item'].unique()

In [20]:
wine_df = df[df['Item'] == 'Wine']

In [22]:
wine_df['Y2015'].sum()

4251.8099999999995

In [23]:
wine_df['Y2018'].sum()

4039.3199999999997

In [32]:
area_sum = new_df.groupby('Area').sum()

In [39]:
area_sum['Y2017'].sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [43]:
df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [44]:
df.groupby('Element').sum().loc['Stock Variation']

Area Code         571566.00
Item Code       11329527.00
Element Code    21464704.00
Y2014              58749.83
Y2015              34910.99
Y2016              33140.12
Y2017              54316.91
Y2018              20577.91
Name: Stock Variation, dtype: float64

In [46]:

df['Y2017'].mean(),df['Y2017'].std()

(140.917764860268, 1671.8623590572788)

In [49]:
df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [73]:
df['Y2014'].isnull().sum(), np.round(100*df['Y2014'].isnull().sum()/len(df),3)

(1589, 2.607)

In [60]:
df_protein = df[df['Element'] == 'Protein supply quantity (g/capita/day)']

In [64]:
np.round(df_protein[df_protein['Area'] == 'Madagascar']['Y2015'].sum(),2)

173.05